html, body {
}

body {
	padding-top:70px;
}


#leftCol{
  float: left;
  width: 20%;
  height: 520px;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 18px;
  min-width: 170px;
  position: absolute;
}

#rightCol {
  width: 80%;
  height: 520px;
  float: right;
  min-width: 350px;
  padding-left: 40px;
}

.col-margin-top {
  margin-top: 12px;
}



.container{
  width: 1320px !important;
  margin-left: 20px !important;
}

.nav-list {
  margin-top: 0px; 
  padding-top: 0px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  line-height: 3px;
  overflow: visible;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nav-header{
  margin-top: 0px; 
}

.tree-toggle li{
  margin-top: 0px;
  padding-top: 0px;
  line-height: 3px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  overflow: visible;
  text-overflow: ellipsis;
  white-space: nowrap;
  bottom: 0px;
}

.list-group > li{
  line-height: 5px;
  font-weight: bold;
  background: #ffffff;
  white-space: nowrap;
}

.list-group > li:hover{
  background: #E6E6FA;
  z-index: 1001;
}

.list-group{
  margin-top: 0;
}

.list-group-item {
  line-height: 18px;
  font-weight: bold;
  z-index: 1000;
}

.list-group-item label:hover{
  cursor: pointer;
}

.tree li{
  margin-top: 0px;
  padding-top: 0px;
  line-height: 3px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  overflow: visible;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icon-std-size{
  font-size: 20px;
  cursor: pointer;
}

.nav-position {
  margin-right: 10px;
  margin-top: 3px;
}

.red {
  color: red;
}

.darkblue {
  color: rgb(42, 100, 150);
}

/*.divider {
  margin-top: 9px;
  border-bottom: 1px solid #E6E6FA;
  margin-bottom: 9px;
}*/

.navbar .divider-vertical {
    height: 40px;
    margin: 5px 9px;
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #ffffff;
}

.line-separator{
  border-left: 1px solid #E6E6FA;
}

.title-btn{
  font-weight: bold;
}

.icon-bar {
	background-color:#fff;
}

.navbar-collapse{
  /*padding-top:3px;
  padding-bottom:3px;*/
}

.dropdown-menu{
  width: 250px;
  border-top:0px;
  margin-bottom:7px;
}


/*.dropdown-menu:before {
  position: absolute;
  top: -7px;
  right: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-menu:after {
  position: absolute;
  top: -6px;
  right: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}*/

.dropdown-menu .col-sm-12{
  /*margin-top:5px;
  margin-bottom:5px;*/
  padding: 8px;
}